* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    scroll-behavior: smooth;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

body {
    background-color: black;
    position: relative;
}

button {
    cursor: pointer;
    background-color: red;
    padding: 1vw 2vw;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -------NAVBAR---------- */
nav {
    position: fixed;
    left: 0;
    right: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: white;
    padding: 0 2vw;
    padding: 1vh;
    z-index: 5;
}

.left-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img:nth-child(1) {
    width: 220px;
}

.logo img:nth-child(2) {
    display: none;
}

.left-cont ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
}

.left-cont ul li {
    list-style: none;
    cursor: pointer;
}

.right-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
    background-color: white;
    padding: 6px 15px;
    border-radius: 5px;
}

.right-cont img {
    width: 1.5vw;
    cursor: pointer;
}


/* ------------------------------------------------ HEADER CSS------------------------------ */
.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding: 1vw 5vw;
    width: 100vw;
    padding-top: calc(100vh - 90vh);
    aspect-ratio: 16/9;
}

.header1_textbox {
    margin: 3vw 2vw;
    display: flex;
    flex-direction: column;
    gap: .4vw;
}

.header1_textbox>span {
    color: rebeccapurple;
}

.header--box2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header--box2 img {
    width: 600px;
    height: 350px;
    border-radius: 20px;
    box-shadow: 0 0 10px 8px black;
}
.header iframe{
    width: 600px;
    height: 350px;
}

.introduction {
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vw;
    margin-bottom: 2vw;
    margin-top: 2vw;
}

.header--box1 img {
    height: 1.5vw;
}

.btn_bg {
    width: 100%;
}
.btn_bg button {
    background-color: white;
    gap: .2vw;
    width: 100%;
}

/* ------------CATEGORY--------------------------- */
::-webkit-scrollbar {
    height: 5px;
}

.category::-webkit-scrollbar-thumb {
    background: linear-gradient(to left, rgb(141, 0, 0), rgb(0, 0, 0));
    border-radius: 20px;
}

.main_category {
    padding: 1vw;
}

.category {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 1vw 2vw;
    overflow-x: scroll;
    overflow-y: auto;
}

.category_headingdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5vw;
    padding: 1vw ;
}


.category img {
    box-shadow: 0 0 6px 4px white;
    width: 180px;
    height: 250px;
    transition: all .2s ease-in-out;
}

.category img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.movie_trailer_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

iframe {
    background: transparent;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 10px 10px black;
}

.foot2 {
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 1%;
}


/* -------------------------VIDEO------------------------- */

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -2;
}

.video_shadow {
    aspect-ratio: 16/9;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    box-shadow: inset 0 -20vh 10vh black;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    opacity: .4;
}

.pausebtn {
    display: none;
}


/* --------------------SELECT----------------------- */

.select {
    width: 100vw;
    height: 100vh;
    background-color: black;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    animation: select .8s ease forwards;
    overflow: scroll;
    z-index: 12;
}

@keyframes select {
    0% {
        left: -100%;
    }

    100% {
        left: 0%;
    }
}

.select_btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.select_btn button {
    padding: 10px;
}

.select_each div:nth-child(1) {
    font-size: 35px;
}

.select_each div:nth-child(2) {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.select_each span {
    width: 100%;
    padding: 10px;
}

.select_each a {
    border: 2px solid rgb(255, 255, 255);
    display: grid;
    place-items: center;
    border-radius: 15px;
}

/* ------------------TAP SCREEN-------------------------- */
.tap_main {
    position: fixed;
    top: 0;
    right: 0;
    transition: all ease-in-out .2s;
    transform: translateX(100%);

}

.tap_main2 {
    position: fixed;
    top: 0;
    right: 0;
    transition: all ease-in-out .2s;
    transform: translateX(0%);
}

.tap {
    background: linear-gradient(black, transparent);
    height: 100vh;
    width: 300px;
    padding-top: 60px;
}


.tap_links {
    border-bottom: 1px solid white;
    padding: 10px;
    text-align: center;
}


/* ---------------RED INFO---------------------- */
.redinfo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 0 0 10px 7px white;
    background-color: black;
    min-height: 72vh;
    min-width: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 5vh;
    overflow: scroll;
    padding: 2vw;
}
.redinfo_name{
    color: yellow;
    text-align: center;
}

.redinfo_img img {
    border-radius: 15px;
    box-shadow: 0 0 10px 8px black;
    width: 40%;
}

.redinfo div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.redinfo div:nth-child(4) {
    padding: 0 3vh;
    font-size: large;
}

/* --------------TRAILER--------------- */

.redtrailer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    height: 80vh;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}
.redtrailer button{
    width: 100%;
}

iframe {
    width: 50vw;
    height: 30vw;
}

.gif{
    position: fixed;
    top: 1%;
    right: 4%;
    background-color: black;
    border-radius: 10px;
    padding: 1px;
    z-index: 11;
    transition: all ease-in-out .5s;
}
.gif img{
    transition: all ease-in-out .5s;
    height: 30px;
    width: 30px;
}
.largegif{
    position: fixed;
    top: 30%;
    right: 20%;
    background-color: black;
    border-radius: 10px;
    padding: 1px;
    transition: all ease-in-out .5s;
}
.largegif img{
    transition: all ease-in-out .5s;
    height: 30vh;
    width: 30vh;
}
















@media screen and (max-width : 900px) {

    .left-cont img {
        width: 14vw;
    }

    .header--box2,
    .introduction,
    ul li:nth-child(5),
    ul li:nth-child(3) {
        display: none;
    }

    .category img:hover {
        transform: none;
    }

    .category img {
        width: 15vw;
        height: 24vw;
    }
    .category::-webkit-scrollbar{
        display: none;
    }

    iframe {
        width: 80vw;
        height: 50vw;
    }

    .select_each div:nth-child(2) {
        grid-template-columns: repeat(3, 1fr);
    }
}












@media screen and (max-width : 550px) {

    .left-cont ul,
    .header--box2,
    .redinfo div:nth-child(2) {
        display: none;
    }

    .category_headingdiv {
        font-size: 2.5vw;
    }

    .right-cont {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        background-color: red;
        border-radius: 0;
    }

    .right-cont img {
        width: 25px;
    }

    .category img {
        width: 25vw;
        height: 37vw;
    }

    .category img:hover {
        transform: none;
    }

    .redinfo button{
        padding: 2vh 5vh;
    }

    .redinfo_img img {
        width: 90%;
    }

    .tap {
        width: 40vw;
    }

    .select_each div:nth-child(2) {
        display: flex;
        flex-direction: column;
    }
}









@media screen and (max-width : 1200px) {

    .video_shadow h1 {
        font-size: 20px;
        margin: 1vh;
    }

    .header {
        width: 100vw;
        aspect-ratio: 16/9;
    }

    .header--box1,
    .movie_description,
    .btn_bg,
    .header--box2 {
        display: none;

    }
}